---
title: {{ title }}
date: {{ date }}
hosts:
  - {{ host }}
attendLink: {{ &attendLink }}
path: "/events/{{ slug }}/"
venue:
  name: {{ venue.name }}
  lat: {{ venue.lat }}
  lng: {{ venue.lng }}
  address: {{ venue.address_1 }}
  city: {{ venue.city }}
  country: {{ venue.country }}

---
{{ &body }}
